body{
    background-color: black;
}

#biggest{
    padding-top: 10vh;
    text-align: center;
}

#biggest div div div{
    width: 10vh;
    height: 10vh;
    display: flex;
    justify-content: center;
align-items: center;
background-color: blue;
border-radius: 5vh;
color: white;
z-index: 2;
;
}
#biggest div div{
    width: 15vh;
    height: 15vh;
    display: flex;
    justify-content: center;
align-items: center;
background-color: rgb(255, 0, 225);
border-radius: 50%;

}

#biggest div {
    height: 25vh;
    display: flex;
    justify-content: center;
align-items: center;
background-color: transparent;
border-radius: 5vh;
}

.inner-clock{
    position: relative;
}
.number-clock{
    position: absolute;
    background-color: blueviolet!important;
    width: 50%!important;
    height: 50%!important;
    top: -20px;
    margin-inline: auto;
    border-radius: 5px!important;
    z-index: -1;
    color: white!important;
    padding-bottom: 30px;
    text-align: start!important;
    
}
.stop{
    position: absolute;
    background-color: blueviolet!important;
    width: 50%!important;
    height: 50%!important;
    bottom: -20px;
    margin-inline: auto;
    border-radius: 5px!important;
    z-index: -1!important;
    color: white!important;
    padding-top: 32px;
    text-align: start!important;
    
}
#middle{
    margin-inline: auto;
    width: 40%;
    margin-top: 3%;
}
.circul{
    background-color: rgb(255, 0, 225)!important;
    position: absolute;
    width: 100%!important;
    height: 100%!important;
    border-radius: 50%!important;
    border-bottom: 50px solid rgb(128, 0, 111)!important;
    transform: rotate(90deg);
}